<% title "Participantes en #{@assembly.title}"  %>

<%= actions do %>
  <%= link_to 'Volver', assemblies_path %>
  <%= link_to 'Añadir un participante', new_assembly_participant_path(@assembly) %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Presentación</th>
    <th>Roles</th>
    <th>Usuario asociado</th>
    <th>Login</th>
    <th>Password</th>
    <th></th>
  </tr>
  <% @participants.each do |part| %>
    <tr>
      <td><%= part.name %></td>
      <td><%= part.description %></td>
      <td><%= part.roles%></td>
      <td><%= part.user ? link_to(part.user.name, part.user) : '<ninguno>' %></td>
      <td><%= part.login %></td>
      <td><%= part.password %></td>
      <td class="actions">
        <%= link_to("Entrar como #{part.name}",
          assembly_path(@assembly, :participant_id => part.id)) if part.user == current_user %>
        <%= link_to 'Edit', edit_assembly_participant_path(@assembly, part) %>
        <%= link_to 'Destroy', assembly_participant_path(@assembly, part), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

