
<% title "Grupos"  %>

<% actions do %>
  <%= link_to "Crear grupo", new_group_path %>
<% end %>

<table>
  <tr>
    <th>Nombre</th>
    <th>Personas</th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= link_to group.name, group %></td>
    <td><% group.users.each do |user| %><%= user.name %> <% end %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %>
    <%= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


