<%= title 'Actas' %>

<%= actions do  %>
  <%= link_to 'Nuevo orden del día', new_agenda_path %>
<% end %>

<table>
  <% @agendas.each do |agenda| %>
    <tr>
      <td><h2><%= link_to agenda.name, agenda %></h2></td>
      <td><%= agenda.state %></td>
      <td class="actions">
      <%= link_to 'Editar', edit_agenda_path(agenda) %>
      <%= link_to 'Borrar', agenda, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />


