<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @activity.string %>
</p>

<p>
  <b>String:</b>
  <%= @activity.string %>
</p>

<p>
  <b>References:</b>
  <%= @activity.references %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
