<%= title 'Asambleas' %>

<table>
  <% @assemblies.each do |assembly| %>
    <tr>
      <td><h2><%= assembly.name %></h2></td>
      <td><% assembly.participants.each do |participant| %>
          <%= participant_tag(participant) %>
        <% end %><%= assembly.participants.length %> </td>
      <td class="actions"><%= link_to 'Entrar', assembly %>
      <%= link_to 'Edit', edit_assembly_path(assembly) %>
      <%= link_to 'Destroy', assembly, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Assembly', new_assembly_path %>
