<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Asamblea - <%= yield :title %></title>
    <meta name="description" content="asamblea webapp">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- link rel="apple-touch-icon" href="/apple-touch-icon.png" -->

    <%= stylesheet_link_tag 'style.css' %>
    <link rel="stylesheet/less" href="/stylesheets/repository.less" type="text/css" />
    <%= javascript_include_tag 'less-1.0.36.min.js' %>
  </head>

  <!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
  <!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
  <!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
  <!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

    <div id="container">
      <%= yield %>
    </div> <!--! end of #container -->


    <!-- Javascript at the bottom for fast page loading -->



    <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
    <!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script -->
    <!-- script>!window.jQuery && document.write('<script src="/javascripts/jquery-1.4.2.min.js"><\/script>')</script -->
    <%= javascript_include_tag 'jquery-1.4.2.min.js', 'rails.js', 'jquery.address-1.3.js', 'plugins.js' %>
    <%= javascript_include_tag 'underscore-min.js', 'backbone-min.js', 'ICanHaz.min.js' %>
    <%= javascript_include_tag 'repo.base.js' %>
    <%= csrf_meta_tag %>

    <!--[if lt IE 7 ]>
      <script src="javascripts/dd_belatedpng.js?v=1"></script>
    <![endif]-->



    <!-- yui profiler and profileviewer - remove for production -->
    <script src="/javascripts/profiling/yahoo-profiling.min.js?v=1"></script>
    <script src="/javascripts/profiling/config.js?v=1"></script>
    <!-- end profiling code -->


    <!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet
         change the UA-XXXXX-X to be your site's ID -->
    <script>
      var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
      (function(d, t) {
        var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
        g.async = true;
        g.src = '//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s);
      })(document, 'script');
    </script>

  </body>
</html>